:root {
  --font-color: rgb(211, 203, 203);
  --background-color: #000;
  --color-red: rgb(234, 0, 41);

  --font-body: "Manrope", Arial, Helvetica, sans-serif;
  --font-display: "Manuka", "Arial Narrow", Arial, sans-serif;

  --nav-height: 124px;
  --nav-z-index: 50;
  --navbar-actions-width: 160px;
}
